/*week1style.css*/
p {
  color:white;
  text-align:center;
}

table {
  color:white;
}

form {
  color:white;
  border:2px solid DodgerBlue;
}

 body {background-image: url("Vines.jpg");}

div {column-count:2;
     column-gap:10px;
      column-rule-style:solid;
      column-rule-width:1px;
      column-rule-colour:red;}

nav {float:right;
        width:150px;}
      #leftcol {margin-right:155px;}
