p {
  color:white;
  text-align:center;
}

table {
  color:white;
}

form {
  color:white;
  border:2px solid DodgerBlue;
}

 body {
   background: rgba(0, 0, 0, 0.25);
}

    #wrapper {
      width:80%;
      margin-left:auto;
      margin-right:auto;
}


     header {
     background-colour:lightgreen;
     padding-top:20px;
     padding-bottom:20px;
     padding-right:155px;
     color:white;
}
    


nav {
  float:right;
  width:150px;
   
}

ul {
  color:white;
  font-weight:bold;
  list-style-type:none;
}


#leftcol {
  margin-right:155px;
  margin-top:0px;
  padding:10px;
}

    #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #00573F;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
