<html>
  <head>
    <title>Karina's week 6 vue tasks</title> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="storelogin">
      <form id="loginform">
      <h1>Login to our online store</h1>
      <label for="name">Username:</label>
    <input id="name" v-model.trim="login" type="text" placeholder="Enter username">
      <br>
      
      <label for="password">Password: </label>
      <input id="password" v-model="password" type="password" placeholder="Enter password">
      <br>
      <label for="email">Email: </label>
      <input id="email" v-model="email" type="text" placeholder="Enter your email">
      <br>
      <button v-on:click="checkInput">Login</button>
      </form>
    </div>
    
    <script>
      var form = new Vue({
        el:"#loginform",
        data:{
          name:'',
          password:'',
          email:'',
        },
        methods: {
          checkInput: function() {
            var str ='';
            if (this.login){
              str = str + "name:" + this.login;
            }
            if (this.password) {
              str = str + " password: " + this.password;
            }
            if (this.email) {
              str = str + " email: " + this.email;
            }
            if (str) {
              alert(str)
            } else {
              alert("Please enter your required details")
            }
          }
        }
        })          
      
    </script>
    
    <div id="checkboxes">
      <input type="checkbox" id="18" value="Iam18" v-model="userconditions" />
      <label for="Iam18">I confirm that I am 18 years or older</label>
      <input type="checkbox" id="terms" value="terms" v-model="userconditions" />
      <label for="terms">I agree to the terms and conditions</label>
      <input type="checkbox" id="maillist" value="maillist" v-model="userconditions" />
      <label for="maillist">Please add me to your mailing list for new wine releases</label>
      <br>
      <span>Agreed to: {{ userconditions }}</span>
      <br>
      <br>
      <select v-model="filterby">
        <option v-for="filtercategory in filterlist"
                v-bing:value="filtercategory.value">{{filtercategory.text}}
        </option>
      </select>
    
    </div>
    
    <script>
    var app = new Vue({
      el: "#checkboxes",
      data: {
        userconditions:[],
        
        filtercategory: [
          { text: 'Choose a wine variety', value: 'C'},
          { text: 'Red', value: 'R' },
          { text: 'White', value: 'W' },
          { text: 'Sparkling', value: 'S' },
          { text: 'Rose', value: 'P' }
          ],
        filterby:'C',
          
      }
    })
        
        
    
    </script>
    
  </body>
</html>
